.createBox{
    width: 100%;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    height: 30vw;
    width: 35vw;
    flex-direction: column;
    align-items: center;
    padding: 6vw;
    border-radius: 20px;
    border: 1px solid #2c87f6;
}

.header{
    font-size: 2.5vw;
    color: #2c87f6;
    font-weight: bold;
}
.top-header{
    margin-bottom: 5px;
}
.register{
    margin-top: 10px;
}
.div-reg{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.label{
    font-size: 15px;
    color: #8F949A;
    margin-left: 0;
}
.select{
    padding: 5px;
    text-align: left;
    width: 100px;
    border: .5px solid #B2B2B2;
    border-radius: 5px;
}

.div-opt{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 10px;
}
.inp{
    margin-top: 8px;
}
@media (max-width: 1100px) {
    .container{
        padding: 4vw;
        width: 50%;
        height: 40vw;
    }
}
@media (max-width: 768px) {
    .container{
        display: flex;
        justify-content: center;
        height: 60vw;
        width: 70%;
        flex-direction: column;
        align-items: center;
        border: none;
        margin-top: -50px;
        padding: 1vw;
    }
    .header{
        font-size: 30px;
    }
    .top-header{
        margin-bottom: 10px;
    }
    .label{
        font-size: 13px;
    }
    .select{
        padding: 2px;
    }
}